
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

.game-coutainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  max-width: 6rem;
}

* {
  user-select: none;
}