<%- include('partials/header') %>

<main class="container py-4">
  <!-- Welcome -->
  <div class="text-center">
    <h2 class="h1 my-4">Bienvenue sur MémoGame !</h2>
    <p class="lead">Ce jeu a été crée dans le but d'entraîner votre cerveau.</p>
    <button class="btn btn-lg btn-warning text-white"><a href="/game">Jouer</a></button>
  </div>
</main>

<%- include('partials/footer') %>
